*{
    margin: 0;
    padding: 0;
}
.important{
    color: rgba(59, 131, 246, 0.879);
}
div.contenu{
    padding: 4% 20%;
}
h1{
    padding: 10% 0% 2% 0%;
    color: rgb(255, 255, 255);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: #000000;
    background-size: 18px 18px;
    background-image: repeating-linear-gradient(to right, #001e33, #001e33 0.9px, #000000 0.9px, #000000);
}
body.scan{
    background-color: #020D18 !important;
    background-image: none;
}
body.profil{
    background-color: #020D18 !important;
    background-image: none;
}
nav{
    background-color: #000000;
    border-bottom: #006abc solid 1px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}
img.logo{
    max-width: 50px;
    height: 50px;
}
ul{
    list-style-type: none;
    display: flex;
    gap: 50%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    align-items: center;
    justify-content: center;
    padding: 0% 10%;
    gap: 100px;
}
a{
    color: aliceblue;
    text-decoration: none;
    transition: all 300ms ease-in-out;
    opacity: 100%;
}
a:hover{
    text-decoration: underline;
    opacity: 60%;
}
li{
    color: aliceblue;
    justify-content: flex-end;
}
h2{
    display: flex;
    justify-content: center
}
h4{
    font-size: 130%;
    padding: 6% 0% 0% 0%;
    color: rgb(255, 255, 255);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h5{
    font-size: 100%;
    opacity: 90%;
    padding: 3% 0% 0% 0%;
    color: rgb(255, 255, 255);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
p{
    padding: 2% 0% 2% 0%;
    color: rgb(255, 255, 255);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
div.slider{
    background-color: rgba(0, 62, 205, 0.121);
    border-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    gap: 35px;
    display: flex;
    flex-direction: column;
}
.slider-img{
    width: 200px;
    display: flex;
    justify-content: space-between
}

.slider-item h2{
    color: rgb(255, 255, 255);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 15px;
    padding: 5% 0% 6% 0%;
    border-bottom: rgba(240, 255, 255, 0.749) solid 1px;
}
.slider-item p{
    text-align: center;
}
div.slider-item{
    background-color: rgb(29, 28, 28);
    border: rgba(240, 255, 255, 0.749) solid 1px;
    border-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    size: 100%;
}
.slider{
    padding: 5%;
}
div.slider-row{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
}
.slider-row a{
    max-width: 30%;
}
img{
    max-width: 100%;
    border-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
h1.titreprofil{
   font-size: 50px; 
}
h1.soustitre{
    padding: 0% 0% 5% 0%;
}
h1.soustitrescan{
    padding: 0% 0% 5% 0%;
    opacity: 50%;
}
h1.titrescan{
    padding: 0% 0% 0% 0%;
}
img.scan{
    width: 90%;
    padding: 0% 5% 0% 5%;
}
img.banierescan{
    width: 100%;
    padding: 0% 0% 0% 0%;
    height: 20rem;
    object-fit: cover;
}
@media screen and (max-width:600px) 
{
    img.banierescan{
        width: 100%;
    }
    .slider-item h2{
        font-size: 10px;
    }
    div.contenu{
        padding: 4% 10%;
    }
    ul{
        gap: 20%;
    }
}
@media screen and (max-width:400px) 
{
    img.banierescan{
        width: 100%;
    }
    .slider-item h2{
        font-size: 7px;
    }
    div.contenu{
        padding: 4% 10%;
    }
    ul{
        gap: 10%;
    }
}
